<a target="_blank" href="https://colab.research.google.com/github/Xornotor/PPGEE-Otimizacao-Exercicios/blob/main/Lista-01-A/Q5.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# **Lista de Exercícios 01-A | Questão 5**

**UFBA** | PPGEE0016 - Otimização

**Aluno:** André Paiva Conrado Rodrigues

In [27]:
# Importação de dependências e configurações de pretty-printing
import numpy as np
import pandas as pd
from scipy.optimize import linprog
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
np.set_printoptions(precision=3, suppress=True, linewidth=300)

## **1 - Interpretação do Problema**

### 1.1 - Definição de variáveis

Para a interpretação do problema, consideremos os coeficientes $x_{ij}$ que representam a quantidade de Gasolina Bruta $j$ utilizada para produzir o Combustível $i$, com $i \in \{1, 2, 3\}$ e $j \in \{1, 2, 3, 4\}$.

Consideremos ainda os coeficientes $y_j$ para representar a quantidade de Gasolina Bruta $j$ a ser vendida.

Tendo isso, nós obtemos 16 variáveis para o problema.

### 1.2 - Definição da Função Objetivo

A função objetivo busca maximizar o lucro em cima das vendas dos combustíveis produzidos e da quantidade sobressalente de gasolinas brutas.

Podemos definir o lucro em virtude da quantidade de gasolina bruta utilizada para produzir determinado combustível.

Considerando $c_j$ e $v_j$ respectivamente como os preços de compra e venda da Gasolina Bruta $j$, e $v_i$ o preço de venda do Combustível $i$, temos a função objetivo definida da seguinte forma:

$$Z = \sum_{j} y_j \cdot (v_j - c_j) +  \sum_{i} \sum_{j} x_{ij} \cdot (v_i - c_j)$$

Destrinchando em valores, temos:



\begin{equation*}
\begin{aligned}
Z = && y_1 \cdot (1.85 - 1.02) && + && y_2 \cdot (1.85 - 1.15) && + && y_3 \cdot (2.95 - 1.35) && + && y_4 \cdot (2.95 - 2.75) && + && \\
&& x_{11} \cdot (5.15 - 1.02) && + && x_{12} \cdot (5.15 - 1.15) && + && x_{13} \cdot (5.15 - 1.35) && + && x_{14} \cdot (5.15 - 2.75) && + && \\
&& x_{21} \cdot (3.95 - 1.02) && + && x_{22} \cdot (3.95 - 1.15) && + && x_{23} \cdot (3.95 - 1.35) && + && x_{24} \cdot (3.95 - 2.75) && + && \\
&& x_{31} \cdot (2.99 - 1.02) && + && x_{32} \cdot (2.99 - 1.15) && + && x_{33} \cdot (2.99 - 1.35) && + && x_{34} \cdot (2.99 - 2.75) && &&
\end{aligned}
\end{equation*}

Calculando as diferenças de preço entre compra e venda, obtemos:

\begin{equation*}
\begin{aligned}
Z = && 0.83y_1 + 0.7y_2 + 1.6y_3 + 0.2y_4 + 4.13x_{11} + 4x_{12} + 3.8x_{13} + 2.4x_{14} + \\
&& 2.93x_{21} + 2.8x_{22} + 2.6x_{23} + 1.2x_{24} + 1.97x_{31} + 1.84x_{32} + 1.64x_{33} + 0.24x_{34}
\end{aligned}
\end{equation*}

### 1.3 - Definição das restrições

#### *1.3.1 - Quantidade de gasolina bruta*

Cada tipo de Gasolina Bruta tem uma disponibilidade $d_j$, de modo que possuímos o seguinte tipo de restrição:

$$y_j + \sum_{i=1}^{3} x_{ij} = d_j, \quad j \in \{ 1, 2, 3, 4 \}$$

Com isso, temos as seguintes restrições:

$$y_1 + x_{11} + x_{21} + x_{31} = 4000$$
$$y_2 + x_{12} + x_{22} + x_{32} = 5050$$
$$y_3 + x_{13} + x_{23} + x_{33} = 7100$$
$$y_4 + x_{14} + x_{24} + x_{34} = 4300$$

#### *1.3.2 - Octanagem*

Para a produção de combustível, devem ser atendidos os requisitos mínimos de octanagem por meio da mistura das gasolinas brutas disponíveis. Logo, temos o primeiro tipo de restrição: a **octanagem mínima**.

Para obter a octanagem mínima para cada combustível, considerando $o_i$ a octanagem mínima requerida para o Combustível $i$ e $o_j$ a octanagem da Gasolina Bruta $j$, precisamos do seguinte tipo de restrição:

$$\frac{\sum_{j} o_j \cdot x_{ij}}{\sum_{j} x_{ij}} \geq o_i, \quad i \in \{ 1, 2, 3 \}$$

Com isso, nós temos as seguintes restrições:

$$\frac{68x_{11} + 86x_{12} + 91x_{13} + 99x_{14}}{x_{11} + x_{12} + x_{13} + x_{14}} \geq 95 \implies -27x_{11} - 9x_{12} -4x_{13} + 4x_{14} \geq 0$$

$$\frac{68x_{21} + 86x_{22} + 91x_{23} + 99x_{24}}{x_{21} + x_{22} + x_{23} + x_{24}} \geq 90 \implies -22x_{21} - 4x_{22} + x_{23} + 9x_{24} \geq 0$$

$$\frac{68x_{31} + 86x_{32} + 91x_{33} + 99x_{34}}{x_{31} + x_{32} + x_{33} + x_{34}} \geq 85 \implies -17x_{31} + x_{32} + 6x_{33} + 14x_{34} \geq 0$$

#### *1.3.3 - Demanda de combustível*

Os Combustíveis 1 e 3 possuem demandas explicitamente denotadas, as quais definem que a produção deve ser dimensionada para atender tais demandas. Com isso, temos duas restrições:

$$x_{11} + x_{12} + x_{13} + x_{14} \leq 10000$$
$$x_{31} + x_{32} + x_{33} + x_{34} \geq 15000$$

## **2 - Definição do problema de otimização**

\begin{equation*}
\begin{aligned}
\text{Maximizar} \\
&& Z = 0.83y_1 + 0.7y_2 + 1.6y_3 + 0.2y_4 + 4.13x_{11} + 4x_{12} + 3.8x_{13} + 2.4x_{14} + \\
&& 2.93x_{21} + 2.8x_{22} + 2.6x_{23} + 1.2x_{24} + 1.97x_{31} + 1.84x_{32} + 1.64x_{33} + 0.24x_{34} \\
\text{Sujeito a} \\
r_{1}: && y_1 + x_{11} + x_{21} + x_{31} = 4000 \\
r_{2}: && y_2 + x_{12} + x_{22} + x_{32} = 5050 \\
r_{3}: && y_3 + x_{13} + x_{23} + x_{33} = 7100 \\
r_{4}: && y_4 + x_{14} + x_{24} + x_{34} = 4300 \\
r_{5}: && -27x_{11} - 9x_{12} -4x_{13} + 4x_{14} \geq 0 \\
r_{6}: && -22x_{21} - 4x_{22} + x_{23} + 9x_{24} \geq 0 \\
r_{7}: && -17x_{31} + x_{32} + 6x_{33} + 14x_{34} \geq 0 \\
r_{8}: && x_{11} + x_{12} + x_{13} + x_{14} \leq 10000 \\
r_{9}: && x_{31} + x_{32} + x_{33} + x_{34} \geq 15000 \\
&& x_{ij}, y_j \geq 0, \quad i \in \{ 1 ,2, 3 \}, j \in \{ 1 ,2, 3, 4 \}
\end{aligned}
\end{equation*}

## **3 - Solução manual por Simplex**

Primeiramente, vamos adequar o problema à forma padrão, introduzindo variáveis de folga $f$ quando necessário:

\begin{equation*}
\begin{aligned}
\text{Maximizar} \\
&& Z - 0.83y_1 - 0.7y_2 - 1.6y_3 - 0.2y_4 - 4.13x_{11} - 4x_{12} - 3.8x_{13} - 2.4x_{14} - \\
&& 2.93x_{21} - 2.8x_{22} - 2.6x_{23} - 1.2x_{24} - 1.97x_{31} - 1.84x_{32} - 1.64x_{33} - 0.24x_{34} = 0 \\
\text{Sujeito a} \\
r_{1}: && y_1 + x_{11} + x_{21} + x_{31} = 4000 \\
r_{2}: && y_2 + x_{12} + x_{22} + x_{32} = 5050 \\
r_{3}: && y_3 + x_{13} + x_{23} + x_{33} = 7100 \\
r_{4}: && y_4 + x_{14} + x_{24} + x_{34} = 4300 \\
r_{5}: && -27x_{11} - 9x_{12} -4x_{13} + 4x_{14} - f_1 = 0 \\
r_{6}: && -22x_{21} - 4x_{22} + x_{23} + 9x_{24} - f_2 = 0 \\
r_{7}: && -17x_{31} + x_{32} + 6x_{33} + 14x_{34} - f_3 = 0 \\
r_{8}: && x_{11} + x_{12} + x_{13} + x_{14} + f_4 = 10000 \\
r_{9}: && x_{31} + x_{32} + x_{33} + x_{34} - f_5 = 15000 \\
&& x_{ij}, y_j, f_k \geq 0, \quad i \in \{ 1 ,2, 3 \}, j \in \{ 1 ,2, 3, 4 \}, k \in \{ 1 ,2, 3, 4, 5 \}
\end{aligned}
\end{equation*}

Montando a matriz $\boldsymbol{M}$ para o algoritmo Simplex:

In [28]:
M = pd.DataFrame(np.array([
    [0, 1,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  4000 ],
    [0, 0,  1,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  5050 ],
    [0, 0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  7100 ],
    [0, 0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  0,  0,  4300 ],
    [0, 0,  0,  0,  0, -27,-9, -4,  4,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0    ],
    [0, 0,  0,  0,  0,  0,  0,  0,  0, -22,-4,  1,  9,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0    ],
    [0, 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -17, 1,  6,  14, 0,  0, -1,  0,  0,  0    ],
    [0, 0,  0,  0,  0,  1,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  10000],
    [0, 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  1,  0,  0,  0,  0, -1,  15000],
    [1, -0.83, -0.7, -1.6, -0.2, -4.13, -4, -3.8, -2.4, -2.93, -2.8, -2.6, -1.2, -1.97, -1.84, -1.64, -0.24, 0, 0, 0, 0, 0, 0]
]), columns = ["Z", "y1", "y2", "y3", "y4", "x11", "x12", "x13", "x14", "x21", "x22", "x23", "x24",
               "x31", "x32", "x33", "x34", "f1", "f2", "f3", "f4", "f5", "b"])
M

,Z,y1,y2,y3,y4,x11,x12,x13,x14,x21,x22,x23,x24,x31,x32,x33,x34,f1,f2,f3,f4,f5,b
0,0.0,1.00,0.0,0.0,0.0,1.00,0.0,0.0,0.0,1.00,0.0,0.0,0.0,1.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,4000.0
1,0.0,0.00,1.0,0.0,0.0,0.00,1.0,0.0,0.0,0.00,1.0,0.0,0.0,0.00,1.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,5050.0
2,0.0,0.00,0.0,1.0,0.0,0.00,0.0,1.0,0.0,0.00,0.0,1.0,0.0,0.00,0.00,1.00,0.00,0.0,0.0,0.0,0.0,0.0,7100.0
3,0.0,0.00,0.0,0.0,1.0,0.00,0.0,0.0,1.0,0.00,0.0,0.0,1.0,0.00,0.00,0.00,1.00,0.0,0.0,0.0,0.0,0.0,4300.0
4,0.0,0.00,0.0,0.0,0.0,-27.00,-9.0,-4.0,4.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,-1.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,-22.00,-4.0,1.0,9.0,0.00,0.00,0.00,0.00,0.0,-1.0,0.0,0.0,0.0,0.0
6,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,-17.00,1.00,6.00,14.00,0.0,0.0,-1.0,0.0,0.0,0.0
7,0.0,0.00,0.0,0.0,0.0,1.00,1.0,1.0,1.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,1.0,0.0,10000.0
8,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,1.00,1.00,1.00,1.00,0.0,0.0,0.0,0.0,-1.0,15000.0
9,1.0,-0.83,-0.7,-1.6,-0.2,-4.13,-4.0,-3.8,-2.4,-2.93,-2.8,-2.6,-1.2,-1.97,-1.84,-1.64,-0.24,0.0,0.0,0.0,0.0,0.0,0.0

### **Iteração 1**

Iniciamos selecionando a **coluna pivô** com base no menor elemento da última linha da matriz. A partir disto, efetuamos a divisão *element-wise* dos elementos da coluna $b$ pelos elementos da coluna pivô, e selecionando a menor magnitude, obtemos a **linha pivô**.

In [29]:
pivot_col = np.argmin(M.iloc[-1, :-1])
row_div = M.iloc[:-1, -1] / M.iloc[:-1, pivot_col]
row_div.mask(row_div <= 0, np.nan, inplace=True)
pivot_row = np.argmin(row_div)
pivot = M.iloc[[pivot_row], [pivot_col]].values[0][0]
print(f"Coluna Pivô: {M.columns[pivot_col]}, Linha Pivô: {pivot_row}, Elemento Pivô: {pivot}")

Coluna Pivô: x11, Linha Pivô: 0, Elemento Pivô: 1.0

Dividimos a linha pivô pelo elemento pivô para que o elemento pivô se torne igual a 1.

In [30]:
M.iloc[[pivot_row]] /= pivot
M

,Z,y1,y2,y3,y4,x11,x12,x13,x14,x21,x22,x23,x24,x31,x32,x33,x34,f1,f2,f3,f4,f5,b
0,0.0,1.00,0.0,0.0,0.0,1.00,0.0,0.0,0.0,1.00,0.0,0.0,0.0,1.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,4000.0
1,0.0,0.00,1.0,0.0,0.0,0.00,1.0,0.0,0.0,0.00,1.0,0.0,0.0,0.00,1.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,5050.0
2,0.0,0.00,0.0,1.0,0.0,0.00,0.0,1.0,0.0,0.00,0.0,1.0,0.0,0.00,0.00,1.00,0.00,0.0,0.0,0.0,0.0,0.0,7100.0
3,0.0,0.00,0.0,0.0,1.0,0.00,0.0,0.0,1.0,0.00,0.0,0.0,1.0,0.00,0.00,0.00,1.00,0.0,0.0,0.0,0.0,0.0,4300.0
4,0.0,0.00,0.0,0.0,0.0,-27.00,-9.0,-4.0,4.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,-1.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,-22.00,-4.0,1.0,9.0,0.00,0.00,0.00,0.00,0.0,-1.0,0.0,0.0,0.0,0.0
6,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,-17.00,1.00,6.00,14.00,0.0,0.0,-1.0,0.0,0.0,0.0
7,0.0,0.00,0.0,0.0,0.0,1.00,1.0,1.0,1.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,1.0,0.0,10000.0
8,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,1.00,1.00,1.00,1.00,0.0,0.0,0.0,0.0,-1.0,15000.0
9,1.0,-0.83,-0.7,-1.6,-0.2,-4.13,-4.0,-3.8,-2.4,-2.93,-2.8,-2.6,-1.2,-1.97,-1.84,-1.64,-0.24,0.0,0.0,0.0,0.0,0.0,0.0

A ideia agora é zerar todos os outros elementos da coluna pivô fazendo substituições em outras linhas com base na linha pivô.

In [31]:
for i in range(M.shape[0]):
    if(i != pivot_row):
        M.iloc[i] = M.iloc[i].sub(M.iloc[pivot_row].multiply(M.iloc[i, pivot_col]))
M

,Z,y1,y2,y3,y4,x11,x12,x13,x14,x21,x22,x23,x24,x31,x32,x33,x34,f1,f2,f3,f4,f5,b
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,4000.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.00,1.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,5050.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.00,0.00,1.00,0.00,0.0,0.0,0.0,0.0,0.0,7100.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.00,0.00,0.00,1.00,0.0,0.0,0.0,0.0,0.0,4300.0
4,0.0,27.0,0.0,0.0,0.0,0.0,-9.0,-4.0,4.0,27.0,0.0,0.0,0.0,27.00,0.00,0.00,0.00,-1.0,0.0,0.0,0.0,0.0,108000.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-22.0,-4.0,1.0,9.0,0.00,0.00,0.00,0.00,0.0,-1.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-17.00,1.00,6.00,14.00,0.0,0.0,-1.0,0.0,0.0,0.0
7,0.0,-1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,-1.0,0.0,0.0,0.0,-1.00,0.00,0.00,0.00,0.0,0.0,0.0,1.0,0.0,6000.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.00,1.00,1.00,1.00,0.0,0.0,0.0,0.0,-1.0,15000.0
9,1.0,3.3,-0.7,-1.6,-0.2,0.0,-4.0,-3.8,-2.4,1.2,-2.8,-2.6,-1.2,2.16,-1.84,-1.64,-0.24,0.0,0.0,0.0,0.0,0.0,16520.0

### **Iteração 2**

Daqui por diante, a mesma lógica da iteração 1 será usada até que a última linha não possua mais valores negativos.

In [32]:
pivot_col = np.argmin(M.iloc[-1, :-1])
row_div = M.iloc[:-1, -1] / M.iloc[:-1, pivot_col]
row_div.mask(row_div <= 0, np.nan, inplace=True)
pivot_row = np.argmin(row_div)
pivot = M.iloc[[pivot_row], [pivot_col]].values[0][0]
print(f"Coluna Pivô: {M.columns[pivot_col]}, Linha Pivô: {pivot_row}, Elemento Pivô: {pivot}")

Coluna Pivô: x12, Linha Pivô: 1, Elemento Pivô: 1.0

In [33]:
M.iloc[[pivot_row]] /= pivot
for i in range(M.shape[0]):
    if(i != pivot_row):
        M.iloc[i] = M.iloc[i].sub(M.iloc[pivot_row].multiply(M.iloc[i, pivot_col]))
M

,Z,y1,y2,y3,y4,x11,x12,x13,x14,x21,x22,x23,x24,x31,x32,x33,x34,f1,f2,f3,f4,f5,b
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,4000.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.00,1.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,5050.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.00,0.00,1.00,0.00,0.0,0.0,0.0,0.0,0.0,7100.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.00,0.00,0.00,1.00,0.0,0.0,0.0,0.0,0.0,4300.0
4,0.0,27.0,9.0,0.0,0.0,0.0,0.0,-4.0,4.0,27.0,9.0,0.0,0.0,27.00,9.00,0.00,0.00,-1.0,0.0,0.0,0.0,0.0,153450.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-22.0,-4.0,1.0,9.0,0.00,0.00,0.00,0.00,0.0,-1.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-17.00,1.00,6.00,14.00,0.0,0.0,-1.0,0.0,0.0,0.0
7,0.0,-1.0,-1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.0,-1.0,0.0,0.0,-1.00,-1.00,0.00,0.00,0.0,0.0,0.0,1.0,0.0,950.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.00,1.00,1.00,1.00,0.0,0.0,0.0,0.0,-1.0,15000.0
9,1.0,3.3,3.3,-1.6,-0.2,0.0,0.0,-3.8,-2.4,1.2,1.2,-2.6,-1.2,2.16,2.16,-1.64,-0.24,0.0,0.0,0.0,0.0,0.0,36720.0

### **Iteração 3**

In [34]:
pivot_col = np.argmin(M.iloc[-1, :-1])
row_div = M.iloc[:-1, -1] / M.iloc[:-1, pivot_col]
row_div.mask(row_div <= 0, np.nan, inplace=True)
pivot_row = np.argmin(row_div)
pivot = M.iloc[[pivot_row], [pivot_col]].values[0][0]
print(f"Coluna Pivô: {M.columns[pivot_col]}, Linha Pivô: {pivot_row}, Elemento Pivô: {pivot}")

Coluna Pivô: x13, Linha Pivô: 7, Elemento Pivô: 1.0

In [35]:
M.iloc[[pivot_row]] /= pivot
for i in range(M.shape[0]):
    if(i != pivot_row):
        M.iloc[i] = M.iloc[i].sub(M.iloc[pivot_row].multiply(M.iloc[i, pivot_col]))
M

,Z,y1,y2,y3,y4,x11,x12,x13,x14,x21,x22,x23,x24,x31,x32,x33,x34,f1,f2,f3,f4,f5,b
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,4000.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.00,1.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,5050.0
2,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,-1.0,1.0,1.0,1.0,0.0,1.00,1.00,1.00,0.00,0.0,0.0,0.0,-1.0,0.0,6150.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.00,0.00,0.00,1.00,0.0,0.0,0.0,0.0,0.0,4300.0
4,0.0,23.0,5.0,0.0,0.0,0.0,0.0,0.0,8.0,23.0,5.0,0.0,0.0,23.00,5.00,0.00,0.00,-1.0,0.0,0.0,4.0,0.0,157250.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-22.0,-4.0,1.0,9.0,0.00,0.00,0.00,0.00,0.0,-1.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-17.00,1.00,6.00,14.00,0.0,0.0,-1.0,0.0,0.0,0.0
7,0.0,-1.0,-1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.0,-1.0,0.0,0.0,-1.00,-1.00,0.00,0.00,0.0,0.0,0.0,1.0,0.0,950.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.00,1.00,1.00,1.00,0.0,0.0,0.0,0.0,-1.0,15000.0
9,1.0,-0.5,-0.5,-1.6,-0.2,0.0,0.0,0.0,1.4,-2.6,-2.6,-2.6,-1.2,-1.64,-1.64,-1.64,-0.24,0.0,0.0,0.0,3.8,0.0,40330.0

### **Iteração 4**

In [36]:
pivot_col = np.argmin(M.iloc[-1, :-1])
row_div = M.iloc[:-1, -1] / M.iloc[:-1, pivot_col]
row_div.mask(row_div <= 0, np.nan, inplace=True)
pivot_row = np.argmin(row_div)
pivot = M.iloc[[pivot_row], [pivot_col]].values[0][0]
print(f"Coluna Pivô: {M.columns[pivot_col]}, Linha Pivô: {pivot_row}, Elemento Pivô: {pivot}")

Coluna Pivô: x21, Linha Pivô: 0, Elemento Pivô: 1.0

In [37]:
M.iloc[[pivot_row]] /= pivot
for i in range(M.shape[0]):
    if(i != pivot_row):
        M.iloc[i] = M.iloc[i].sub(M.iloc[pivot_row].multiply(M.iloc[i, pivot_col]))
M

,Z,y1,y2,y3,y4,x11,x12,x13,x14,x21,x22,x23,x24,x31,x32,x33,x34,f1,f2,f3,f4,f5,b
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,4000.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.00,1.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,5050.0
2,0.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,-1.0,0.0,1.0,1.0,0.0,0.00,1.00,1.00,0.00,0.0,0.0,0.0,-1.0,0.0,2150.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.00,0.00,0.00,1.00,0.0,0.0,0.0,0.0,0.0,4300.0
4,0.0,0.0,5.0,0.0,0.0,-23.0,0.0,0.0,8.0,0.0,5.0,0.0,0.0,0.00,5.00,0.00,0.00,-1.0,0.0,0.0,4.0,0.0,65250.0
5,0.0,22.0,0.0,0.0,0.0,22.0,0.0,0.0,0.0,0.0,-4.0,1.0,9.0,22.00,0.00,0.00,0.00,0.0,-1.0,0.0,0.0,0.0,88000.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-17.00,1.00,6.00,14.00,0.0,0.0,-1.0,0.0,0.0,0.0
7,0.0,0.0,-1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,0.00,-1.00,0.00,0.00,0.0,0.0,0.0,1.0,0.0,4950.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.00,1.00,1.00,1.00,0.0,0.0,0.0,0.0,-1.0,15000.0
9,1.0,2.1,-0.5,-1.6,-0.2,2.6,0.0,0.0,1.4,0.0,-2.6,-2.6,-1.2,0.96,-1.64,-1.64,-0.24,0.0,0.0,0.0,3.8,0.0,50730.0

### **Iteração 5**

In [38]:
pivot_col = np.argmin(M.iloc[-1, :-1])
row_div = M.iloc[:-1, -1] / M.iloc[:-1, pivot_col]
row_div.mask(row_div <= 0, np.nan, inplace=True)
pivot_row = np.argmin(row_div)
pivot = M.iloc[[pivot_row], [pivot_col]].values[0][0]
print(f"Coluna Pivô: {M.columns[pivot_col]}, Linha Pivô: {pivot_row}, Elemento Pivô: {pivot}")

Coluna Pivô: x23, Linha Pivô: 2, Elemento Pivô: 1.0

In [39]:
M.iloc[[pivot_row]] /= pivot
for i in range(M.shape[0]):
    if(i != pivot_row):
        M.iloc[i] = M.iloc[i].sub(M.iloc[pivot_row].multiply(M.iloc[i, pivot_col]))
M

,Z,y1,y2,y3,y4,x11,x12,x13,x14,x21,x22,x23,x24,x31,x32,x33,x34,f1,f2,f3,f4,f5,b
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.000000e+00,0.0,0.0,1.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,4000.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.000000e+00,0.0,0.0,0.00,1.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,5050.0
2,0.0,0.0,1.0,1.0,0.0,-1.0,0.0,0.0,-1.0,0.0,1.000000e+00,1.0,0.0,0.00,1.00,1.00,0.00,0.0,0.0,0.0,-1.0,0.0,2150.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.000000e+00,0.0,1.0,0.00,0.00,0.00,1.00,0.0,0.0,0.0,0.0,0.0,4300.0
4,0.0,0.0,5.0,0.0,0.0,-23.0,0.0,0.0,8.0,0.0,5.000000e+00,0.0,0.0,0.00,5.00,0.00,0.00,-1.0,0.0,0.0,4.0,0.0,65250.0
5,0.0,22.0,-1.0,-1.0,0.0,23.0,0.0,0.0,1.0,0.0,-5.000000e+00,0.0,9.0,22.00,-1.00,-1.00,0.00,0.0,-1.0,0.0,1.0,0.0,85850.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,-17.00,1.00,6.00,14.00,0.0,0.0,-1.0,0.0,0.0,0.0
7,0.0,0.0,-1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,-1.000000e+00,0.0,0.0,0.00,-1.00,0.00,0.00,0.0,0.0,0.0,1.0,0.0,4950.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,1.00,1.00,1.00,1.00,0.0,0.0,0.0,0.0,-1.0,15000.0
9,1.0,2.1,2.1,1.0,-0.2,0.0,0.0,0.0,-1.2,0.0,4.440892e-16,0.0,-1.2,0.96,0.96,0.96,-0.24,0.0,0.0,0.0,1.2,0.0,56320.0

### **Iteração 6**

In [40]:
pivot_col = np.argmin(M.iloc[-1, :-1])
row_div = M.iloc[:-1, -1] / M.iloc[:-1, pivot_col]
row_div.mask(row_div <= 0, np.nan, inplace=True)
pivot_row = np.argmin(row_div)
pivot = M.iloc[[pivot_row], [pivot_col]].values[0][0]
print(f"Coluna Pivô: {M.columns[pivot_col]}, Linha Pivô: {pivot_row}, Elemento Pivô: {pivot}")

Coluna Pivô: x14, Linha Pivô: 3, Elemento Pivô: 1.0

In [41]:
M.iloc[[pivot_row]] /= pivot
for i in range(M.shape[0]):
    if(i != pivot_row):
        M.iloc[i] = M.iloc[i].sub(M.iloc[pivot_row].multiply(M.iloc[i, pivot_col]))
M

,Z,y1,y2,y3,y4,x11,x12,x13,x14,x21,x22,x23,x24,x31,x32,x33,x34,f1,f2,f3,f4,f5,b
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.000000e+00,0.0,0.000000e+00,1.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,4000.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.000000e+00,0.0,0.000000e+00,0.00,1.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,5050.0
2,0.0,0.0,1.0,1.0,1.0,-1.0,0.0,0.0,0.0,0.0,1.000000e+00,1.0,1.000000e+00,0.00,1.00,1.00,1.00,0.0,0.0,0.0,-1.0,0.0,6450.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.000000e+00,0.0,1.000000e+00,0.00,0.00,0.00,1.00,0.0,0.0,0.0,0.0,0.0,4300.0
4,0.0,0.0,5.0,0.0,-8.0,-23.0,0.0,0.0,0.0,0.0,5.000000e+00,0.0,-8.000000e+00,0.00,5.00,0.00,-8.00,-1.0,0.0,0.0,4.0,0.0,30850.0
5,0.0,22.0,-1.0,-1.0,-1.0,23.0,0.0,0.0,0.0,0.0,-5.000000e+00,0.0,8.000000e+00,22.00,-1.00,-1.00,-1.00,0.0,-1.0,0.0,1.0,0.0,81550.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,-17.00,1.00,6.00,14.00,0.0,0.0,-1.0,0.0,0.0,0.0
7,0.0,0.0,-1.0,0.0,-1.0,1.0,0.0,1.0,0.0,0.0,-1.000000e+00,0.0,-1.000000e+00,0.00,-1.00,0.00,-1.00,0.0,0.0,0.0,1.0,0.0,650.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,1.00,1.00,1.00,1.00,0.0,0.0,0.0,0.0,-1.0,15000.0
9,1.0,2.1,2.1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,4.440892e-16,0.0,2.220446e-16,0.96,0.96,0.96,0.96,0.0,0.0,0.0,1.2,0.0,61480.0

In [48]:
print(f"x12 = {M.iloc[[1, -1]]}")

x12 =      Z   y1   y2   y3   y4  x11  x12  x13  x14  x21           x22  x23  \
1  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.000000e+00  0.0
9  1.0  2.1  2.1  1.0  1.0  0.0  0.0  0.0  0.0  0.0  4.440892e-16  0.0

            x24   x31   x32   x33   x34   f1   f2   f3   f4   f5        b
1  0.000000e+00  0.00  1.00  0.00  0.00  0.0  0.0  0.0  0.0  0.0   5050.0
9  2.220446e-16  0.96  0.96  0.96  0.96  0.0  0.0  0.0  1.2  0.0  61480.0

## **4 - Solução por algoritmo**

In [24]:
A = np.array([
    [1,   0,   0,   0,   1,   0,   0,   0,   1,   0,   0,   0,   1,   0,   0,   0],
    [0,   1,   0,   0,   0,   1,   0,   0,   0,   1,   0,   0,   0,   1,   0,   0],
    [0,   0,   1,   0,   0,   0,   1,   0,   0,   0,   1,   0,   0,   0,   1,   0],
    [0,   0,   0,   1,   0,   0,   0,   1,   0,   0,   0,   1,   0,   0,   0,   1],
    [0,   0,   0,   0,   27,  9,   4,  -4,   0,   0,   0,   0,   0,   0,   0,   0],
    [0,   0,   0,   0,   0,   0,   0,   0,   22,  4,  -1,  -9,   0,   0,   0,   0],
    [0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   17, -1,  -6, -14],
    [0,   0,   0,   0,   1,   1,   1,   1,   0,   0,   0,   0,   0,   0,   0,   0],
    [0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  -1,  -1,  -1,  -1],
])

b = [4000, 5050, 7100, 4300, 0, 0, 0, 10000, -15000]

coef = np.array([0.83, 0.7, 1.6, 0.2, 4.13, 4, 3.8, 2.4,
                 2.93, 2.8, 2.6, 1.2, 1.97, 1.84, 1.64, 0.24]) * (-1)

var_bounds = np.array([np.zeros((16)), [np.inf for i in range(16)]]).T

res = linprog(coef, A_ub=A, b_ub=b, bounds=var_bounds, method='simplex')

/tmp/ipykernel_145017/3736556078.py:20: DeprecationWarning: `method='simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  res = linprog(coef, A_ub=A, b_ub=b, bounds=var_bounds, method='simplex')

In [25]:
for j in range(4):
    print(f"Gasolina Bruta {j+1} vendida: {res.x[j]:.3f} L")
print(f"-----------------------------")

for i in range(3):
    for j in range(4):
        print(f"Gasolina Bruta {j+1} usada para fabricar Combustível {i+1}: {res.x[j+(4*(i+1))]:.3f} L")
    print(f"-----------------------------")

for i in range(3):
    print(f"Total de Combustível {i+1} fabricado: {np.sum(res.x[4*(i+1):4*(i+2)]):.3f} L")

print(f"\n=============================\n")
print(f"Lucro total: R$ {-res.fun:.2f}")

Gasolina Bruta 1 vendida: 542.593 L
Gasolina Bruta 2 vendida: 0.000 L
Gasolina Bruta 3 vendida: 0.000 L
Gasolina Bruta 4 vendida: 0.000 L
-----------------------------
Gasolina Bruta 1 usada para fabricar Combustível 1: 0.000 L
Gasolina Bruta 2 usada para fabricar Combustível 1: 1509.972 L
Gasolina Bruta 3 usada para fabricar Combustível 1: 0.000 L
Gasolina Bruta 4 usada para fabricar Combustível 1: 3397.436 L
-----------------------------
Gasolina Bruta 1 usada para fabricar Combustível 2: 0.000 L
Gasolina Bruta 2 usada para fabricar Combustível 2: 0.000 L
Gasolina Bruta 3 usada para fabricar Combustível 2: 0.000 L
Gasolina Bruta 4 usada para fabricar Combustível 2: 0.000 L
-----------------------------
Gasolina Bruta 1 usada para fabricar Combustível 3: 3457.407 L
Gasolina Bruta 2 usada para fabricar Combustível 3: 3540.028 L
Gasolina Bruta 3 usada para fabricar Combustível 3: 7100.000 L
Gasolina Bruta 4 usada para fabricar Combustível 3: 902.564 L
-----------------------------
Total de Combustível 1 fabricado: 4907.407 L
Total de Combustível 2 fabricado: 0.000 L
Total de Combustível 3 fabricado: 15000.000 L

=============================

Lucro total: R$ 39829.44

No total, foram vendidos:

*   4907,407 litros de Combustível 1;
*   15000 litros de Combustível 3;
*   542,593 litros de Gasolina Bruta 1,

obtendo no final um lucro de R$ 39829,44.